/* luflow.net web site */
/* Public domain 2025. All rights waived */

.button-big,
.button-big:link,
.button-big:visited {
    border-color: #f4bb15;
    border-radius: 6px;
    border-style: solid;
    border-width: thin;
    color: black;
    display: inline-block;
    font-size: 0.8em;
    height: 47px;
    line-height: 47px;
    margin: 10px;
    padding: 0px 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.button-big:active,
.button-big:focus,
.button-big:hover {
    border-color: black;
}

.button-light,
.button-light:link,
.button-light:visited {
    color: white;
}

.button-light:active,
.button-light:focus,
.button-light:hover {
    border-color: white;
}

.button-little,
.button-little:link,
.button-little:visited {
    border-color: #c0c0c0;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    color: #525252;
    display: inline-block;
    font-size: 0.8em;
    margin: 5px;
    padding: 5px 10px;
    vertical-align: top;
    text-decoration: none;
}

.button-little-active:link,
.button-little-active:visited,
.button-little:active,
.button-little:focus,
.button-little:hover {
    background-color: #ffcc00;
    border-color: #d4aa00;
}
