/* luflow.net web site */
/* Public domain 2025. All rights waived */

.item-preview,
.item-preview:link,
.item-preview:visited {
    border-color: #f4bb15;
    border-style: none none solid none;
    border-width: thin;
    color: #4d4d4d;
    display: block;
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
}

.item-preview:active,
.item-preview:focus,
.item-preview:hover {
    background-color: #f4bb15;
}

.item-preview h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
    padding-top: 16px;
}

.item-preview p {
    padding-top: 16px;
}

.item-date {
    font-size: 0.9em;
}

@media screen and (min-width: 1024px) {
    .item-preview,
    .item-preview:link,
    .item-preview:visited {
        background-color: transparent;
        border-color: transparent;
        border-style: solid;
        border-width: thin;
        display: inline-block;
        margin: 10px 0px 15px 0px;
        vertical-align: top;
        width: 270px;
        text-decoration: none;
    }

    .item-preview:active,
    .item-preview:focus,
    .item-preview:hover {
        border-color: #f4bb15;
    }
}

